.fontCinzel {
  font-family: "Cinzel", serif;
}
/* font name Cinzel */

.fontQuicksand {
  font-family: "Quicksand", sans-serif;
}
/* font name : Quicksand */

.fontMeddon {
  font-family: 'Meddon', cursive;
}
/* font name Meddon */