.fontNunito {
  font-family: "Nunito", sans-serif;
}
/* footer.jsx > FTsection , introduction.jsx > INTdiv4 */

.fontMeddon {
  font-family: "Meddon", cursive;
}
/* header.jsx > HDdiv1h1 */

.fontArchivoBlack {
  font-family: "Archivo Black", sans-serif;
}
/* introduction.jsx > INTdiv3 */
