.fontFjallaOne {
  font-family: "Fjalla One", sans-serif;
}

.fontQuicksand {
  font-family: "Quicksand", sans-serif;
}

.fontMeddon {
  font-family: "Meddon", cursive;
}

.fontArchivoBlack {
  font-family: "Archivo Black", sans-serif;
}
